[project]
	description = An ansible role to deploy Gitlab (https://www.gitlab.com/) by means of their omnibus-gitlab package (https://gitlab.com/gitlab-org/omnibus-gitlab)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Serge van Ginderachter (srvg)
[access "refs/for/refs/*"]
	read = group user/Serge van Ginderachter (srvg)
	push = group user/Serge van Ginderachter (srvg)
	label-Code-Review = -2..+2 group user/Serge van Ginderachter (srvg)
	label-Verified = -1..+1 group user/Serge van Ginderachter (srvg)
	rebase = group user/Serge van Ginderachter (srvg)
	removeReviewer = group user/Serge van Ginderachter (srvg)
	submit = group user/Serge van Ginderachter (srvg)
[access "refs/heads/*"]
	read = group user/Serge van Ginderachter (srvg)
	create = group user/Serge van Ginderachter (srvg)
	push = +force group user/Serge van Ginderachter (srvg)
	pushMerge = group user/Serge van Ginderachter (srvg)
[access "refs/tags/*"]
	push = +force group user/Serge van Ginderachter (srvg)
	pushTag = group user/Serge van Ginderachter (srvg)
	pushSignedTag = group user/Serge van Ginderachter (srvg)
